# -----------------------
# Python
# -----------------------
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cd]
*.egg-info/
.egg/
.env
instance/
.ruff_cache/


# -----------------------
# Assets folder for yugioh cards
# -----------------------
src/assets/card-material/*
src/assets/card-image/*
!src/assets/card-material/README.md
!src/assets/card-image/.gitkeep


# -----------------------
# Model
# -----------------------
src/model/*
!src/model/README.md
!src/model/LICENSE


# -----------------------
# Testing
# -----------------------
.coverage