/* 
<main>
  <video></video>
</main>
*/

/******************** < w320px Starts ********************/
main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  user-select: none;
}

video {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  min-height: 110%;
  width: 1400px;
  left: -250px;
  top: -20px;
}

/******************** < w320px Ends ********************/

/******************** Mobile S - w320px Starts ********************/
@media all and (min-width: 320px) {
}

/******************** Mobile S - w320px Ends ********************/

/******************** Mobile M - w375px) Starts ********************/
@media all and (min-width: 375px) {
}

/******************** Mobile M - w375px Ends ********************/

/******************** Mobile L - w425px Starts ********************/
@media all and (min-width: 425px) {
}

/******************** Mobile L - w425px Ends ********************/

/******************** Tablet - w768px Starts ********************/
@media all and (min-width: 768px) {
  video {
    left: -20px;
  }
}

/******************** Tablet - w768px Ends ********************/

/******************** Laptop - w1024px Starts ********************/
@media all and (min-width: 1024px) {
  video {
    width: 2100px;
  }
}

/******************** Laptop - w1024px Ends ********************/
