@import '/node_modules/bootstrap/scss/bootstrap-grid';

@font-face {
  font-family: 'Matrix II Bold';
  src: url('./assets/fonts/matrix-ii-bold.otf');
}

@font-face {
  font-family: 'Noto Sans TC';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:ital,wght@0,100..900;1,100..900&display=swap');
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Matrix II Bold';
}

:root {
  --primary-color: rgb(245, 222, 179); /* wheat */
  --primary-active-color: rgb(249, 189, 77);
  --secondary-color: rgb(30, 30, 30);
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f0f2f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: black;
}

html,
body {
  min-width: 320px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
